/*
    Author Kelvin Mutuku
    CSS file that defines the global styles for 3-index.html.
*/
body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
